body {
    margin: 0;
    padding-top: 50px;
  }

  /* Add a black background color to the top navigation */
 header {
    top: 0;
    width: 100%;
    display:flex;
    background-color: #333;
    position: fixed;
    background-size: cover; /* how large it is in the div */
    z-index: 1;
    align-items: center;
    
  }
  
  /* Style the links inside the navigation bar */

  header h1 {
    color: #f2f2f2;
    font-size: 25px;
    margin-left: 2%;
    font-family: 'Montserrat';
    font-variant-caps: small-caps;
    font-weight: bold;
  }


  main a {
    color: #f2f2f2;
    text-align: center;
    font-size: 17px;
    font-family: 'Montserrat';
    font-variant-caps: small-caps;
    position: absolute;
    bottom: 13%;
    left: 5%;
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    border-color: darkgray;
    padding: 5px 16px;
    background-color: rgba(128, 128, 128, 0.5);
  }



  main a:hover {
    background-color: white; 
    color: black;
  }



  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    font-family: 'Montserrat';
    font-variant-caps: small-caps;
  }

  .full-height {
    height: 100vh;
    display:flex;
    border: 1px solid black;
    background-size: cover; /* how large it is in the div */
    background-repeat: no-repeat; /* whether it should repeat */
    background-position: center; /* where the image should sit */
    position: relative; /* so the absolute children have something to be relative to */
  
    /* instead of position properties, we could give this display: flex and use justify-content and align-items to move the description around */
  }

  .image1 {
    background-image: url("./images/image1.jpg"); /* the actual image */
  }

  .image2 {
    background-image: url("./images/image2.jpg"); /* the actual image */
  }

  .image3 {
    background-image: url("./images/image3.jpg"); /* the actual image */
  }

  .description {
    position: absolute;
    bottom: 20%;
    left: 5%;
    color: white;
    font-family: sans-serif;
    font-size: 35px;
    font-variant-caps: small-caps;
    font-weight: bold;
  }

  .description2 {
    position: absolute;
    bottom: 18%;
    left: 5%;
    color: white;
    font-family: 'Courier New';
    font-size: 20px;
  }